/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    margin: 0;
    padding: 0;
    perspective: 1px;
    
    display: block;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    overflow-y: scroll;
    overflow-x: hidden;
}
html{
   
}
a{
    text-decoration-line: none;
    color: black;
}
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{
    background-color: rgba(0,172,193,0.96);
    border-radius: 10px;

}

@media screen and (max-width:10920px){
    .computer{
        margin: auto;
        max-width: 1920px;
    }
    
    .Huvud{
        margin-top: 20px;
        cursor: pointer;
    }
    .Huvud:hover{
        color: aquamarine;
        cursor: pointer;
    }
    .burger:hover .lines__tool{
        opacity: 0.2;
        transform: rotatez(0deg);
    }
    .Title{
        width: 100%;
        height: 150px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-grow: inherit;
    }
    .Title__text{
        text-align: center;
        color: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);;;
        font-size: 50px;
        font-weight: SemiBold 600;
        
    }
    .Title__decor{
        margin-top: 20px;
        width: 100px;
        height: 2px;
        background: linear-gradient(60deg, #EF5858 0%, #EF5858 100%);;
    }
    .header{
        background:url("./img/gris2.png"), linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
        background-attachment: fixed;

    
        width: 100%;
        height: 950px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation: animate 140s infinite linear;
        
    
    
    }
    .about{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:rgb(38, 180, 216);
        background: url("./img/gris.png");
        background-attachment: fixed;
        color: white;
    }
    .about_title{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .about_text{
        text-align: center;
        font-size: 25px;
    }
    .rules{
        width: 100%;
        height: 1900px;
        background-blend-mode: screen;
        background: linear-gradient(40deg,#739EC8 20%,#88A5FC 50%);
        background: url("./img/gris3.png");
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .rules_title{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px
    }
    .rules_block{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.52);

        

    }
    .rules_block_text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        font: 25px;
    }
    @keyframes animatee{
        0%{
            background-position:0 0;
    
        }
        25%{
            background-position: 100% 70%;
    
        }
        50%{
            background-position: 0% 100%;
    
        }
        75%{
            background-position: 100% 70%;
    
        }
        100%{
            background-position:0 0;
    
        }
    }
    
    
    .header-text{
        text-align: center;
        color: black;
        font-size: 40px;
        font-weight:700;
        
    
    }
    .button{
        
        padding-top: 1px;
    
        width: 90px;
        height: 35px;
        border-radius: 30px;
        background-color: #e7a644;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    .button:hover{
        width: 88px;
        height: 33px;
        border: 1px solid black;
    }
    
    .header-subtext{
        font-weight: Regular 400 Italic;
        text-align: center;
       
        height: 50px;
        color: black;
    }
    .logo{
    
    }
    .menu{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #5662F6;
        background: url("./img/gris4.png");
        background-attachment: fixed;
        color: white;
    
    }
    .block__menu{
        width: 320px;
        height: 220px;
        background-color: rgba(0,172,193,1);
        background-size: cover;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        cursor: pointer;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        color: white;
        transition: .2s;
    
        
    }
    .block__menu:hover{
        /* background-color: rgb(8, 255, 90); */
        background-color: rgb(107, 75, 238);
        color: white;
    
    
    }
    .menu__title{
        font-size: 50px;
    
    }
    .menu__subtitle{
    }
    .about__text{
        font-size: 20px;
        width: 50%;
    }
    .discord_block{
        display: flex;
        flex-direction: column;
        height: 800px;
    }
    .discord{
        margin-top: 40px;
        width: 700px;
        height: 100px;
        background-color: #36393F;
        display: flex;
        justify-content: center;
        border-radius: 100px 40px 40px 100px;
    }
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #36393F;
    }
    .avatar_bg_creator{
        background: url("./img/creator.jpg");
        margin-top: -2px;
        margin-left: -2px;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 4px solid #A56391;

    }
    .avatar_bg_GModer{
        background: url("./img/5-1.jpg");
        margin-top: -2px;
        margin-left: -2px;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 4px solid #1ED760;

    }
    .avatar_bg_Moder1{
        background: url("./img/doner.jpg");
        margin-top: -2px;
        margin-left: -2px;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 4px solid #98E2F9;


    }
    .avatar_bg_Moder2{
        background: url("./img/doner2.jpg");
        margin-top: -2px;
        margin-left: -2px;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 4px solid #98E2F9;

    }
    .avatar_bg_Moder3{
        background: url("./img/doner3.jpg");
        margin-top: -2px;
        margin-left: -2px;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 4px solid #98E2F9;

    }

    .discord__info{
        width: 600px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .discord__name{
        margin-left: 40px;
        font-size: 30px;
        color: #1ED760;
    }
    .creator{
        color: #A56391;
    }
    .doner{
        color: #98E2F9;
    }
    .discord__role{
        margin-left: 40px;
        color: #A3A6AA;
    
    }
}
@media screen and (max-width:800px){
    .discord{
        width:300px
    }
    .rules{
        width: 100%;
        height: 1950px;
        background: url("./img/wp.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rules_block{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        box-shadow: 0px 0px 10px black;

    }
    .rules_block_text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        font-size: 15px;
    }

}
@media screen and (max-width:700px){
    .discord{
        width:300px
    }
    .rules_block_text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        font-size: 15px;
    }
    .rules{
        width: 100%;
        height: 1550px;
        background: url("./img/wp.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rules_block{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        box-shadow: 0px 0px 10px black;

    }
    @media screen and (max-width:600px){
        .rules{
            width: 100%;
            height: 2250px;
            background: url("./img/wp.jpg");
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}
